<div class="table-container h-100">
    <table class="">
        <thead>
            <tr>
                <th></th>
                <th class="text-capitalize" *ngFor="let columnName of columnNames; let i = index" (click)="sort(columnName)">
                  {{columnName}}
                  <app-svg class="arrow" *ngIf="showSort[columnName]" [svgId]="!descending[columnName] ? 'arrow-up-solid': 'arrow-down-solid'"></app-svg>
                </th>
                <th class="width-40px" *ngFor="let action of actions, let z = index"></th>
            </tr>
        </thead>
        <tbody>
          <tr *ngIf="rows.length === 0">
            <td></td>
            <td class="pt-3">No items found!</td>
          </tr>
          <tr *ngFor="let row of rows; let i = index" [ngClass]="{'selected': selected === i}" (click)="select(i)">
            <td class="d-flex justify-content-center align-items-center ">
              <app-svg class="eye " [svgId]="row.active ? 'eye-regular' : 'eye-slash-regular'"></app-svg>
            </td>
            <td  *ngFor="let columnName of columnNames, let j = index">
              {{row[columnName]}}</td>
            <td *ngFor="let action of actions, let z = index"  class="p-0 ">
              <div class="svg-container d-flex align-items-center justify-content-center">
                <app-svg class="action d-flex align-self-center" [svgId]="selected === i ? (action + '-white'): action"></app-svg>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
</div>
