svg {
  &.logo-icon,
  &.dropdown,
  &.copyright,
  &.add-new-contract {
    width: 12px;
    height: 12px;
  }
  &.action,
  &.eye,
  &.arrow,
  &.search-icon {
    width: 15px;
    height: 15px;
  }
}
