.checkbox {

    input {
        width: 17px;
        height: 17px;
        border: 2px solid rgb(92,147, 150);
        cursor: pointer;
    }
    
    label {
        color: white;
        cursor: pointer;
    }
}